<div class="content" role="main">
    <div class="card">
        <div class="button-card">
            <button class="green-buttons">Film Ekle +</button>
            <button class="green-buttons">Film Listesi</button>
        </div>
      <div class="form-group">
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Bulmak İstediğiniz Filmin Adını Yazınız" 
          autofocus> <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <!-- <ul class="list-group">
        <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
          {{c}}
        </li>
      </ul> -->
    </div>
  </div>