::ng-deep .mat-dialog-container {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius:0px ;
    border: 2px solid rgba(0, 0, 0, .5);
    position: relative;
    padding: 60px 20px;
  }

  .main-div {
    display: flex;
    justify-content: space-around;
  }
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .create {
    display: flex;
    justify-content: center;
    button {
      border-color: #000;
      color: #fff;
      font-size: 17px;
      padding: 0.675rem 7rem;
      transition: .3s ease;
      border-radius: 0.1875rem;
      border: 1px solid ;
      background-color: #000;
    }
  }
  .create button:hover {
  
    background-color: rgba(0, 0, 0, .5);
   
    color: white;
  
  }
  .row {
    input {
        min-width: 150px;
        width: 100%;
        height: 20px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        padding: 10px 7px;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 25px;
    }
  }


  